.getCoupons {
	text-align: center;
    position: center    ;

    /* background-image: url("https://eu.backendlessappcontent.com/562A375E-5BBB-5CFE-FF93-7E98D02EAF00/20A3668E-E4A0-49C0-8F83-7332D6B8D0F6/files/background+sky.jpeg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 

}
