body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
    display: flex;
    align-items: center; 
    margin: auto;
    /* margin-top: 2vh; */
  /* text-align: center;
  position: center;
  align-items: center; */
}

.div{
  background-color: hsl(115, 92%, 53%);
  /* position: center;   */
}


.Box{
  text-align: center;
  border: 1px dashed black;
  padding: 0 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px;
}

.smallBox{
  text-align: center;
  border: 1PX dashed blue;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 10px;
  width:150px;
}

.noBorderBox{
  text-align: center;
  padding: 10px 10px;
  margin: 10px;
  width:17%;
}